@font-face {
  font-family: 'Noah Bold';
  src: local('Noah'), url('../../assets/fonts/Noah/Noah-Bold.woff') format('woff');

}

@font-face {
  font-family: 'Noah Bold Italic';
  src: local('Noah'), url('../../assets/fonts/Noah/Noah-BoldItalic.woff') format('woff');

}


@font-face {
  font-family: 'Noah Regular';
  src: local('Noah'), url('../../assets/fonts/Noah/Noah-Regular.woff') format('woff');

}


@font-face {
  font-family: 'Noah Regular Italic';
  src: local('Noah'), url('../../assets/fonts/Noah/Noah-RegularItalic.woff') format('woff');

}

*{
  font-family: "Noah Regular";
}

.mainContainer {
  display: flex;
}

.emailListing {
  flex: 1
}

.mailContainer {
  flex: 2
}
ul.emailListing {
  padding-left: 0;
  height: 100vh;
  overflow: scroll;
}

.mainContainer {
  display: flex;
}

.list-item {
  flex: 1;
}
.itemSelected {
  background-color: #E5E5E5;
}
.emailItem {
  padding: 10px;
}
.bold {
  font-weight: bold;
}
.fromLabel {
  color:#A3A3A4;
  font-family: "Noah Bold";
}
.subjectLabel {
  margin: O;
}
.round {
  height: 50px;
  width: 50px;
  background-color: red;
}
