.btnNotif {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  border: none;
    border-radius: 5px;
    padding: 6px;
    width: 86%;
}

.mainHeader {
height: 10vh;

  .headerContainer {
    height: 80px;
    display: flex;

    .baselineContainer {
      display: flex;
      flex: 0.6;
      justify-content: center;
      align-items: center;
      background-color: black;

      .baseline {
        color: #FFFFFF;
        font-size: 49px;
        text-transform: uppercase;
        font-family: "Noah Bold";
      }
    }

    .secondHeaderContainer {
      flex: 1;
    }

    .searchIcon {
      padding: 29px 23px 0 20px;
      height: 25px;
      width: 25px;
    }

    .searchBar {
      padding-left: 14px;
      width: 25%;
      border: none;
      font-size: 19px;
    }

    .accountBar {
      display: flex;
      flex: 2;
      align-items: center;
      justify-content: space-between;
      background-color: #000000;
    }

    .newMailButton {
      font-family: "Noah Bold";
      margin-left: 40px;
      width: 139px;
      height: 39px;
      background: #3DE2B6 0% 0% no-repeat padding-box;
      border-radius: 35px;
      opacity: 1;
      border: none;
    }

    .accountInfo {
      margin-right: 22px;
      display: flex;
      color: #FFFFFF;
      align-items: center;
      position: relative;
      transition: 2s all ease;
      cursor: pointer;
      .accountUsername {
        font-family: "Noah Bold";
        font-size: 20px;
        margin-left: 15px;
      }

      .accountLink {
        font-size: 15px;
      }

      .consumeCarbone {
        font-family: "Noah Bold";
        margin-left: 10px;
        width: 51px;
        background: #3DE2B6 0% 0% no-repeat padding-box;
        border-radius: 35px;
        opacity: 1;
        border: none;
        outline: none;
      }
      .notifCardCarbone {
        position: absolute;
    top: 54px;
    background: #3DE2B6;
    width: 100%;
    height: 110px;
    right: 0px;
    text-align: center;
    color: black;
    div {
      margin-top: 15px
    }
    span {
      > span {
        font-weight: bold;
        font-size: 25px;
      }

    }
    img {
      width: 34px;
      margin-top: 10px;
      position: relative;
      top: 8px;
      left: -15px;
    }
      }
    }
  }

}
