.mailBoxNavigation {
  background-color: #212121;
  flex: 0.6;
  font-size: 14px;
  li {
    cursor: pointer;
  }

  .navLinkContainer {
    list-style: none;
    padding-bottom: 20px;
    width: 100%;
    padding-left: 0px;
    height: 30vh;

    .navLinkItem:first-child {
      > .navLink {
        background:#3DE2B6;
        color: black;
        img {
          margin-top: 10px;
        }
        span {
          margin-left: 15px;
        }
    }
    }
    .navLinkItem {
      margin-top: 20px;
      .navLinkIcon {
        color: #FFFFFF;
      }

      .navLink {
        color: #EDEDED;
        text-decoration: none;
        font-size: 14px;
        font-family: "Noah Regular";
        display: flex;
        align-items: center;
        img {
          margin-left: 30px;
          margin-right: 10px;
    width: 25px;

        }
      }
    }
  }

  .navHr {
    display: block;
    border-bottom: 1px solid #454545;
  }

  .labelContainer {
    position: relative;
    overflow: hidden;
   > div {
    top: 15px;
    left: 15px;
    right: 15px;
    position: absolute;
    background: red;
    text-align: center;
    color: white;
    height: 21vh;
    opacity: 0;
    transition: 1s all ease;
    span {
      text-transform: uppercase;
    display: block;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 25px;
    }
    }
  }

  .labelContainer {
    overflow: scroll;
  }
  .labelContainer::-webkit-scrollbar {
    display: none;
  }
  .archiveContainer, .labelContainer{
    padding: 26px 0px 20px 40px;
      height: 30vh;
    .archiveTitle, .labelTitle{
      text-transform: uppercase;
      color: #777777;
    }

    .archiveLinkContainer, .labelLinkContainer{
      list-style: none;
      padding: 0;
      color: #FFFFFF;
      .archiveLinkItem, .labelLinkItem {
        display: flex;
        line-height: 40px;
        align-items: center;
        align-content: center;
        div {
          margin-right: 9px;
          height: 10px;
          width: 10px;
          border-radius: 50%;
        }
      }
      .labelLinkItem:nth-child(1) {
         div {
          background: red; 
         }
      }
      .labelLinkItem:nth-child(2) {
        div {
         background: blue; 
        }
     }
     .labelLinkItem:nth-child(3) {
      div {
       background: green; 
      }
      
   }
   .labelLinkItem:nth-child(4) {
    div {
     background: purple; 
    }
    
 }
 .labelLinkItem:nth-child(5) {
  div {
   background: yellow; 
  }
  
}
    }
  }

}
